{% extends "layout/base.html" %}

{% block title %}매입장부{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block contents %}
<div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">매입장부</h6>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buy_create_modal">매입 등록하기</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>품목</th>
                        <th>거래처</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <tr data-toggle="collapse" href="#table_1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <td>2023-01-09 09:00:00</td>
                            <td>갤럭시탬</td>
                            <td>삼성</td>
                            <td>1</td>
                            <td>300,000,000</td>
                            <td>300,000,000</td>
                        </tr>
                        <table class="table collapse" id="table_1">
                            <thead>

                            </thead>
                            <tbody>
                                <tr >
                                    <td>2023-01-09 09:00:00</td>
                                    <td>갤럭시탬</td>
                                    <td>삼성</td>
                                    <td>1</td>
                                    <td>300,000,000</td>
                                    <td>300,000,000</td>
                                </tr>
                            </tbody>  
                        </table>
                        
                    </tr>

                    

                    <tr>
                        <table class="table">
                            <tbody>
                                <tr data-toggle="collapse" href="#table_3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <td>aa</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="collapse" id="table_3">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                              </div>
                        </div>
                    </tr>
                    <tr>
                        <table class="table">
                            <tbody>
                                <tr data-toggle="collapse" href="#table_2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <td>aa</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="collapse" id="table_2">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                              </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contents %}

{% block modals %}
<div class="modal fade " id="buy_create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl" style="max-width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">매입 등록하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/buy/create/" method="post" id="buy_create">
                <div class="card mb-3">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6>일괄 설정</h6>
                        <input type="hidden" name="" id="batch_count" value="1">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <label for="" class="col-sm-3">거래처 선택</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="col-lg-6 form-control" id="client_name_input" onkeyup="filter(this)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <input type="hidden" name="client_id" id="client_id">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            {% for i in clients %}
                                            <button class="dropdown-item item" type="button" onclick="client_search_select(this)" id="{{i.client_id}}">
                                                <span class="name">{{i.client_corp_name}}</span>
                                            </button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <label for="" class="col-sm-3">일괄 설정 날짜</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="col-lg-6 form-control" >

                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <table class="table">
                        <thead>
                            <th>추가</th>
                            <th>구입일</th>
                            <th>품목</th>
    
                            <th>수량</th>
                            <th>단가</th>
                            <th>부가세여부</th>
    
    
                        </thead>
                        <tbody>
                            <tr>
                                <td><button type="button" onclick="" class="btn">+</button></td>
                                <td><input class="form-control" type="date" name="" id="" placeholder="구입일"></td>
                                <td>
                                    <input class="form-control" type="text" name="item_name" id="item_name_input_1" placeholder="품목" onkeyup="filter(this)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="hidden" name="item_id" id="item_id_input_1">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    
                                        <button class="dropdown-item item" type="button" onclick="item_search_select(this,1)" id="aaa">
                                            <span class="name">거래처 1</span>
                                        </button>
                                        <button class="dropdown-item item" type="button" onclick="item_search_select(this,1)" id="bbb">
                                            <span class="name">가나다 </span>
                                        </button>
                                        <button class="dropdown-item item" type="button" onclick="item_search_select(this,1)" id="ccc">
                                            <span class="name">라마바</span>
                                        </button>
                                    </div>
                                </td>
                                <td><input class="form-control" type="number" name="" id="" placeholder="수량"></td>
                                <td><input class="form-control" type="number" name="" id="" placeholder="단가"></td>
                                <td><input type="checkbox" name="" id=""></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </form>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary" onclick="document.getElementById('buy_create').submit()">등록</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modals %}

{% block javascripts %}

<script type="text/javascript">
    function filter(params){

      var value, name, item, i;

      value = document.getElementById(params.id).value.toUpperCase();
      item = document.getElementsByClassName("item");

      for(i=0;i<item.length;i++){
        name = item[i].getElementsByClassName("name");
        if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
          item[i].style.display = "flex";
        }else{
          item[i].style.display = "none";
        }
      }
    }
    function item_search_select(params, count) {
        var search_id = params.id;
        document.getElementById("item_id_input_"+String(count)).value = search_id
        document.getElementById("item_name_input_"+String(count)).value = params.getElementsByClassName("name")[0].innerText;
    }
    function client_search_select(params) {
        var search_id = params.id;
        document.getElementById("client_id").value = search_id
        document.getElementById("client_name_input").value = params.getElementsByClassName("name")[0].innerText;
    }
</script>
{% endblock javascripts %}